._hightlighted-background-bg {
    position: relative;
    overflow: hidden;
    
    transition: color 0.3s;

    z-index: 0;
}

._hightlighted-background-bg::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  background: radial-gradient(circle, #dbbc8393 10%, transparent 25%); /* костылечек с цветом. Не хочу с этим копаться щас */
  transform: translate(-50%, -50%);
  transition: width 0.8s ease, height 0.3s ease, opacity 0.3s ease;
  border-radius: 50%;
  pointer-events: none;
  opacity: 1;

  width: 550%;
  height: 100%;

  z-index: -1;
}
