/* Fonts */

@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@font-face {
    font-family: 'Bounded';
    src: url('../assets/fonts/Bounded-Regular.ttf');
}

@font-face {
    font-family: 'BoundedLight';
    src: url('../assets/fonts/Bounded-ExtraLight.ttf');
}

/* Root */

:root {
    font-size: 8px;

    --color-bg: #e3cdb3;
    --color-text: #000000; /* text */
    --color-text-secondary: #ffffff; /* text-secondary */
    --color-text-grey: #b8b8b8;
    --color-text-third: #961e1e; /* text-third */
    --color-accent-first: #e5b78f; /* text-accent */
    --color-accent-secondary: #FF6600; /* accent-secondary */ 
    --color-accent-third: #E7915D; /* accent-third */
    --color-accent-brown: #935831;
    --color-accent-dim: #C7A2823D; /* accent-dim */ 
    --color-bg-dim: #fddc9e;
    --color-text-grey-dim: #8f724d;

    --color-header-bg: #e3cdb3;
    --color-header-buttons: #e5b78f;
    --color-article-header-bg: #d37e49;

    --color-gradient-footer: #c6a181;

    --color-bg-search: #e4c0a0;

    --color-gradient-hover-el: #e5b78f;

    --font-base: 'Bounded', sans-serif;
    --font-base-light: 'BoundedLight', sans-serif;

    background: var(--color-bg);
    color: var(--color-text);
}

#root {
    display: flex;
}

html, body { overflow-x: hidden; }

/*  */

._big-p {
        font-size: 9.5rem;
        line-height: 8.5rem;

        font-family: 'Bounded', sans-serif;
}

._casual-span {
    font-size: 3rem;
    line-height: 3.5rem;

    font-family: 'BoundedLight', sans-serif;
}

/* Media */

@theme {
    --breakpoint-sm: 1280px;
    --breakpoint-md: 1920px;
    --breakpoint-lg: 2560px;

    --color-bg: #ffe5b4;
    --color-text: #000000;
    --color-text-secondary: #ffffff;
    --color-text-grey: #929292;
    --color-accent-first: #dbbc83;
    --color-accent-secondary: #FF6600;
    --color-accent-third: #fc9f61;
    --color-accent-dim: #C7A2823D; 
    --color-accent-brown: #935831;
    --color-bg-dim: #ffe9bf;
    --color-text-grey-dim: #747474;

    --color-header-bg: #e3cdb3;
    --color-header-buttons: #e5b78f;
    --color-article-header-bg: #d37e49;

    --color-gradient-footer: #c6a181;

    --color-bg-search: #e4c0a0;

    --color--gradient-hover-el: #e5b78f;

    --font-base: 'Bounded', sans-serif;
    --font-base-light: 'BoundedLight', sans-serif;
}

@media (width >= 1280px) {
    :root {
            font-size: 8px;
    }

    ._big-p {
        font-size: 8rem;
        line-height: 7rem;
    }

    ._casual-span {
        font-size: 3rem;
        line-height: 3.5rem;
    }
}

@media (width >= 1920px) {
    :root {
            font-size: 10px;
    }

    ._big-p {
        font-size: 10rem;
        line-height: 9rem;
    }

    ._casual-span {
        font-size: 3.5rem;
        line-height: 4rem;
    }
}

@media (width >= 2560px) {
    :root {
            font-size: 12px;
    }

    ._big-p {
        font-size: 11rem;
        line-height: 10rem;
    }

    ._casual-span {
        font-size: 3rem;
        line-height: 3.5rem;
    }
} 