/* Fonts */

@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@font-face {
    font-family: 'Bounded';
    src: url('../assets/fonts/Bounded-Regular.ttf');
}

@font-face {
    font-family: 'BoundedLight';
    src: url('../assets/fonts/Bounded-ExtraLight.ttf');
}

/* Root */

:root {
    font-size: 8px;

    --color-bg: #ffe5b4;
    --color-text: #000000; /* text */
    --color-ts: #ffffff; /* text-secondary */
    --color-tt: #961e1e; /* text-third */
    --color-ta: #dbbc83; /* text-accent */
    --color-as: #FF6600; /* accent-secondary */ 
    --color-at: #fc9f61; /* accent-third */

    --font-base: 'Bounded', sans-serif;
    --font-base-light: 'BoundedLight', sans-serif;

    background: var(--color-bg);
    color: var(--color-text);
}

#root {
    display: flex;
}

html, body { overflow-x: hidden; }

/*  */

._big-p {
        font-size: 9.5rem;
        line-height: 8.5rem;

        font-family: 'Bounded', sans-serif;
}

._casual-span {
    font-size: 3rem;
    line-height: 3.5rem;

    font-family: 'BoundedLight', sans-serif;
}

/* Media */

@theme {
    --breakpoint-sm: 1280px;
    --breakpoint-md: 1920px;
    --breakpoint-lg: 2560px;

    --color-bg: #ffe5b4;
    --color-text: #000000;
    --color-ts: #ffffff;
    --color-ta: #dbbc83;
    --color-as: #FF6600;
    --color-at: #fc9f61;

    --font-base: 'Bounded', sans-serif;
    --font-base-light: 'BoundedLight', sans-serif;
}

@media (width >= 1280px) {
    :root {
            font-size: 8px;
    }

    ._big-p {
        font-size: 8rem;
        line-height: 7rem;
    }

    ._casual-span {
        font-size: 3rem;
        line-height: 3.5rem;
    }
}

@media (width >= 1920px) {
    :root {
            font-size: 10px;
    }

    ._big-p {
        font-size: 10rem;
        line-height: 9rem;
    }

    ._casual-span {
        font-size: 3.5rem;
        line-height: 4rem;
    }
}

@media (width >= 2560px) {
    :root {
            font-size: 12px;
    }

    ._big-p {
        font-size: 11rem;
        line-height: 10rem;
    }

    ._casual-span {
        font-size: 3rem;
        line-height: 3.5rem;
    }
} 